@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300&family=Roboto:wght@300;400;700;900&family=Titillium+Web:wght@400;700;900&display=swap');
body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	line-height: 1.5;
	margin: 0px;
}
a {
	text-decoration: none;
	color: rgb(104, 129, 153);
	border-bottom: solid 1px rgb(104, 129, 153);
}
.icon-link {
	border-bottom: none;
}
main {
	width: 90%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-weight: 700;
	/* margin-top: 50px; */
}
blockquote h3,
blockquote h4 {
	margin: 0px;
	color: indianred;
}
.main-head h3,
.main-head h4 {
	font-weight: 300;
}
.page-wrap {
	margin-top: 30px;
}
nav {
	width: 96%;
	text-align: center;
	font-size: 1rem;
	text-transform: uppercase;
	/* background: #eee; */
	/* padding: 2%; */
	margin-bottom: 30px;
	/* border: solid 1px lightgray; */
}
code {
	display: block;
	/* padding: 10px; */
	font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
	padding: 5px 10px;
	border: solid 1px lightgray;
	margin: 20px 20px;
	background: rgb(243, 243, 243);
	width: 100%;
	color: #000;
	font-weight: 500;
}
blockquote {
	background: #eee;
	padding: 20px;
}
.caption {
	font-size: 0.9rem;
	padding: 0px 10px 10px 10px;
	color: rgb(180, 180, 180);
	float: right;
}
hr {
	border: solid 1px lightgray;
}
.nav-links {
	text-align: right;
}
.nav-links a {
	text-decoration: none;
	border-bottom: none;
}
em {
	color: indianred;
	font-style: normal;
	font-weight: 700;
}
